:root {
    --background-color: #1a1a1a; /* Fond noir doux */
    --primary-color: #c0c0c0;
    --accent-color: #a94444; /* Rouge profond pour l'ambiance médiévale sombre */
    --text-color: #e5e5e5; /* Gris très clair pour texte principal */
    --link-color: #a94444;
    --hover-color: #ff4c4c; /* Rouge vif pour l'effet de survol */
    --button-color: #a94444;
    --succed-confirmation: #4a7a66;
    --warning-error: #8b1e1e; /* Rouge profond pour les erreurs */
    --font-family-title: 'Pirata One'; /* Police gothique */
    --font-family-classic: 'Roboto'; /* Police classique pour le texte */
}

/********PAGE ACCUEIL******/

.container-items:hover {
    background-color: #3b3b3b;
    box-shadow: 0 0 15px rgba(255, 76, 76, 0.5); /* Lueur rouge au survol */
}

.container-items #HistoireTitre {
    font-family: var(--font-family-title) !important;
    text-align: center;
    font-size: 2em;
    color: var(--accent-color);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); /* Ombre pour plus d'impact visuel */
}

button:hover {
    background-color: var(--hover-color);
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(255, 76, 76, 0.7); /* Lueur rouge au survol */
}

a:hover {
    color: var(--hover-color);
}

/****CHAPITRE PARTIE*****/
#ChapterTitle {
    font-family: var(--font-family-title);
    text-align: center;
    font-size: 2.5em;
    color: var(--accent-color);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

