:root {
    --background-color: #1a1a1a; /* Fond noir doux */
    --primary-color: #c0c0c0; 
    --accent-color: #c4975e; /* Or sale pour l'ambiance médiévale sombre */
    --text-color: #e5e5e5; /* Gris très clair pour texte principal */
    --link-color: #c4975e; 
    --hover-color: #ffd700; /* Jaune doré pour l'effet de survol */
    --button-color: #c4975e; 
    --succed-confirmation: #4a7a66; 
    --warning-error: #8b1e1e; /* Rouge profond pour les erreurs */
    --font-family-title: 'Pirata One'; /* Police gothique */
    --font-family-classic: 'Roboto'; /* Police classique pour le texte */
}

/********PAGE ACCUEIL******/

body {
    margin: 0;
    font-family: var(--font-family-classic);
    background-color: var(--background-color);
    color: var(--text-color);
    background-image: url("../image/background.png");
    line-height: 1.6;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

h1 {
    font-family: var(--font-family-title) !important;
    font-size: 3em;
    color: var(--text-color);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Ombre au texte pour donner de la profondeur */
    margin-bottom: 20px;
}

h2 {
    font-family: var(--font-family-title) !important;
    font-size: 2.5em;
    color: var(--text-color);
    margin-bottom: 20px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.container-items {
    border: 2px solid var(--primary-color);
    padding: 20px;
    background-color: #2e2e2e;
    width: 30%;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8); /* Ombre portée pour profondeur */
    transition: all 0.3s ease;
    background-size: cover;
    background-position: center;
}

.container-items:not(:nth-child(2)){
    margin-top: 1.5vw;
    max-width: 25%;
}

.container-items:nth-child(2) {
    width: 40%;
}
.container-items:hover {
    background-color: #3b3b3b;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.5); /* Lueur dorée au survol */
}

.container-items p {
    margin: 0;
    font-size: 1.2em;
    color: var(--text-color);
}

.container-items #HistoireTitre {
    font-family: var(--font-family-title) !important;
    text-align: center;
    font-size: 2em;
    color: var(--accent-color);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); /* Ombre pour plus d'impact visuel */
}

.container-items p {
    font-family: var(--font-family-classic) !important;
    font-style: italic;
    color: var(--primary-color);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button{
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    padding: 12px 30px;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

button:hover {
    background-color: var(--hover-color);
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(255, 215, 0, 0.7);
}

button:active {
    transform: translateY(1px);
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--accent-color);
}

a:hover {
    color: var(--hover-color);
}

/***********FIN***********/

/********PAGE CRÉATION HÉRO/COMPTE******/

#title-creation{
    text-align : center;
    color :rgba(255, 215, 0, 0.7);
}

.form-creation {
    text-align: center;
    border: 2px solid var(--primary-color);
    border-radius: 3px;
    display: grid;
    grid-template-rows: max-content auto 1fr;
    margin: 0 10%;
    padding: 20px;
    background-color: #3b3b3b;
}

.form-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.left-column {
    width: 45%;
}

.right-column {
    width: 45%;
    padding-left: 20px;
}

.form-creation button{
    margin-top: 20px;
}

.description-question-race{
    font-style: italic;
}

/* FORMULAIRE */

input[type=text], select, textarea, #username {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
  
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}
  
.col-25 {
    width: 25%;
}
  
.col-75 {
    width: 75%;
}

.row {
    display: flex;
    margin-bottom: 15px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

#bio {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    height: 200px;
}

/********PAGE CONNECTION******/

#missing-account{
    text-align: center;
}

/****CHAPITRE PARTIE*****/
.chapter-content {
    font-family: var(--font-family-classic);
    color: var(--text-color);
    line-height: 1.7;
    background-color: rgba(0, 0, 0, 0.6); /* Couche sombre sous le contenu */
    padding: 20px;
    border-radius: 8px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

#ChapterTitle {
    font-family: var(--font-family-title);
    text-align: center;
    font-size: 2.5em;
    color: var(--accent-color);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

#ChapterTitleDeath {
    font-family: var(--font-family-title);
    text-align: center;
    font-size: 2.5em;
    color: var(--warning-error);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

button:hover {
    background-color: var(--accent-color);
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    max-height: 40vh !important;
    color: var(--text-color);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    position: relative;
    overflow-y: auto;
}

#inventoryList {
    list-style-type: none;
    padding: 0;
}

#inventoryList li {
    margin: 10px 0;
    font-size: 1.2em;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2em;
    color: var(--text-color);
    cursor: pointer;
}

.close-button:hover {
    color: var(--hover-color);
}


.hero-card {
    background-color: #2e2e2e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-bottom: 20px;
    color: var(--text-color);
    font-family: var(--font-family-classic);
    transition: transform 0.2s ease;
}

.hero-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(255, 215, 0, 0.6);
}

.hero-card h3 {
    font-family: var(--font-family-title);
    color: var(--accent-color);
    margin-bottom: 15px;
    text-align: center;
}

.inventory-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.inventory-item {
    background-color: #3b3b3b;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    padding: 15px;
    text-align: center;
    color: var(--text-color);
    transition: transform 0.2s ease;
}

.inventory-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(255, 215, 0, 0.7);
}

.inventory-item h4 {
    font-family: var(--font-family-title);
    color: var(--accent-color);
    margin-bottom: 10px;
}

#combatContainer, .links, #npcContainer {
    display: none;
}