:root {
    --background-color: #1a1a1a; 
    --primary-color: #c0c0c0; 
    --accent-color: #ffcc00;
    --text-color: #ffffff;
    --link-color: #ffcc00; 
    --hover-color: #ffd700;
    --font-family-title: 'Pirata One';
    --font-family-classic: 'Roboto'
}

body {
    margin: 0;
}

header{
    text-align: center;
}

h1 {
    font-family: var(--font-family-title) !important;
}

.container{
    display: flex;
}