:root {
    --background-color: #1a1a1a; 
    --primary-color: #c0c0c0; 
    --accent-color: #ffcc00;
    --text-color: #ffffff;
    --link-color: #ffcc00; 
    --hover-color: #ffd700;
    --font-family-title: 'Pirata One';
    --font-family-classic: 'Roboto'
}

body {
    margin: 0;
    font-family: var(--font-family-classic);
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    text-align: center;
}

h1 {
    font-family: var(--font-family-title) !important;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.container-items {
    border: 2px solid var(--primary-color);
    padding: 20px;
    background-color: #2c2c2c;
    width: 30%;
}

.container-items:nth-child(2) {
    width: 40%;
}

.container-items p {
    margin: 0;
    font-size: 1.2em;
}

.container-items:nth-child(2) #HistoireTitre{
    font-family: var(--font-family-title) !important;
    text-align: center;
}

.container-items:nth-child(2) p{
    font-family: var(--font-family-title) !important;
    font-style: italic;
}